*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
}
.slider__lines{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
.slider__item{
    position: relative;
    width: 100%;
    flex-shrink: 0;
}
.slider__buttons{
    display: flex;
    justify-content: center;
}
.slider__prev, .slider__next{
    display: block;
    padding: 15px 35px;
    font-size: 40px;
}
.slider__pagination{
    display: flex;
    width: max-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 12px 20px;
    border-radius: 10px;
    background: #000;
}
.slider__pagination li{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    margin: 0 12px;
}
.slider__pagination li.active{
    background: crimson;
}

.text{
    font-size: 40px;
    text-align: center;
}
@media(max-width: 900px){
    .text{
        font-size: 20px;
    }
}